@font-face {
    font-family: "beebris";
    src: url('/fonts/beebris.ttf');
}

a.brand:before { /* JUST FOR FUN */
    content: 'JAGUAR';
    display: block;
    position: fixed;
    top: 76px;
    font-family: beebris;
    color: rgb(243, 0, 0);
    font-size: 22px;
    -webkit-transform: rotateZ(-20deg);
    left: 19Px;
    text-shadow: 1px 1px 1Px rgba(255, 43, 162, 1);
}

body {
    background-color: #F3F0EA;;
    font-family: 'Proxima Nova', 'Lucida Grande', Helvetica, sans-serif;
    font-size: 16px;
}

.brand {
    position: fixed;
    top: 40px;
    left: 30px;
    background-color: rgb(58, 58, 58);
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 21px;
    z-index: 1000;
}

.brand:hover {
    text-decoration: none;
    color: white;
}

.sign-link {
    float: right;
    padding-top: 12px;
}

.content {
    padding: 0 170px;
    position: relative;
}

#main {
    position: relative;
    top: 40px;
    padding-bottom: 20px;
}

#main-feed {
    padding-bottom: 30px;
    overflow: hidden;
}

#main-feed .company {
    display: inline-block;
    background-color: rgb(255, 97, 97);
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 1px 11px;
    border-radius: 50%;
    color: rgb(255, 236, 236);
    border: 3px solid rgb(255, 147, 147);
    position: relative;
    z-index: 100;
}

#main-feed .yahoo {
    color: rgb(236, 255, 236);
    border: 4px solid rgb(145, 255, 149);
    background-color: rgb(97, 255, 103);
}

#main-feed .feed-item p {
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

#main-feed .feed-item p .date {
    font-weight: normal;
    font-style: italic;
    color: rgb(83, 83, 83);
    padding-left: 10px;
}

#main-feed .feed-item p .date:before {
    content: '— ';
}

#main-feed .feed-item {
    margin-bottom: 40px;
}

#main-feed .company:before {
    content: '';
    display: block;
    width: 4px;
    height: 150px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    top: 47px;
    left: 19px;
    z-index: 0;
}

#add-contact {
    background-color: white;
    padding: 50px;
    margin: 40px 170px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    padding-top: 30px;
}

#add-contact h2 {
    margin: 0 0 29px 0;
    font-weight: bold;
    color: rgb(39, 39, 39);
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 10px;
    font-size: 24px;
}

#add-contact label + input {
    display: inline-block;
    width: auto;
    margin-left: 5px;
}

#add-contact label.datepicker-label {
    float: left;
    margin-right: 10px;
    line-height: 31px;
}

#add-contact button[type=submit] {
    margin: 0 auto;
    display: block;
    width: 110px;
    margin-top: 30px;
}

#openings {
    position: relative;
}

.add-opening {
    background-color: rgb(0, 185, 52);
    width: 50px;
    height: 50px;
    padding: 0px 5px;
    font-size: 50px;
    font-weight: bold;
    line-height: 42px;
    color: white;
    position: absolute;
    right: -60px;
    top: 0;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.add-opening:hover {
    background-color: rgb(0, 216, 60);
}

.add-opening .open {
    font-size: 32px;
    margin-left: 5px;
}

.add-opening .close {
    float: none;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    text-shadow: inherit;
    opacity: inherit;
    position: absolute;
    top: 0;
    opacity: 0;
    font-size: 32px;
    margin-top: 6px;
    margin-left: 4px;
}

.add-opening .close:hover {
    color: inherit;
}

.opening {
    background-color: white;
    padding: 40px 50px;
    margin: 20px auto;
    position: relative;
    z-index: 100;
}

.opening .opening-info {
    width: 50%;
    display: inline-block;
}

.opening .opening-history {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    background-color: rgb(234, 245, 255);
    border-radius: 2px;
}

#openings .opening:first-child {
    margin-top: 0px;
}

.opening h1,
.opening h3 {
    margin: 0;
    display: inline-block;
}

.opening h1 {
    font-weight: bold;
}

.opening h1 a {
    color: rgb(51, 51, 51);
}

.opening h1 a:hover {
    text-decoration: none;
    color: black;
}

.opening h2 {
    font-size: 24px;
    margin: 5px 0 20px 0;
    color: rgb(52, 95, 206);
}

.opening h3 {
    color: rgb(190, 190, 190);
    padding-left: 15px;
    font-size: 18px;
    vertical-align: 2px;
}

.opening .persons {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
    font-size: 14px;
    color: gray;
    min-height: 35px;
}

.opening .add-person-link,
.opening .add-person-form,
.opening .list,
.opening .no-persons {
    display: inline;
    line-height: 24px;
}

.opening .list .person {
    margin-left: 5px;
    margin-right: 10px;
}

.opening .list .delete-person {
    font-size: 9px;
    background-color: rgb(211, 176, 176);
    color: white;
    padding: 1px;
    cursor: pointer;
    vertical-align: 1px;
    border-radius: 2px;
}

.opening .list .delete-person:hover {
    background-color: rgb(206, 52, 52);
}

.opening .add-person-form {
    display: none;
}

.opening .add-person-form input {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}

.opening .add-person-form button {
    display: inline-block;
}

.delete-opening {
    position: absolute;
    top: 30px;
    right: 30px;
    color: darkgrey;
    cursor: pointer;
}

.delete-opening:hover {
    color: black;
}


.opening .notes textarea {
    width: 100%;
    border: 0;
    resize: none;
}

.opening .notes textarea:focus {
    outline: none;
}

#opening-create {
    position: absolute;
    top: 0;
    background-color: rgb(253, 253, 253);
    width: 60%;
    padding: 40px /* 290px */;
    padding-top: 20px;
    /*right: -100%;
    margin-right: -170px;*/
    left: 100%;
    margin-left: 170px;
    opacity: 0;
}

#opening-create h1 {
    margin-bottom: 70px;
    text-align: center;
    color: rgb(67, 104, 37);
}




/* Signin - Signup */

/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -200px;
}

.flip-container, .front, .back {
    width: 400px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 150px; /* half of height */

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    background-color: white;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateX(-180deg);
}



.-autocomplete-item {
    cursor: pointer;
}

.company-pill {
    color: #333!important;
    cursor: pointer;
}

.selected .company-pill {
    color: white!important;
}


form.history-create {
    padding: 10px 20px;
    display: none;
    position: relative;
}

.history-create .hide-history {
    position: absolute;
    top: 4px;
    right: 6px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    color: gray;
}

.history-create .hide-history:hover {
    color: black;
}

.show-history-create {
    text-align: center;
    background-color: rgb(185, 255, 178);
    padding: 7px;
    font-weight: bold;
    color: rgb(18, 148, 0);
    border-top: 1px solid rgb(166, 253, 131);
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.show-history-create:hover {
    box-shadow: inset 0px 9px 6px -6px rgba(0, 0, 0, 0.14);
}

.no-histories {
    text-align: center;
    padding: 25px;
    color: rgb(107, 107, 107);
}

.history-create select[name=type],
.history-create select[name=origin],
.history-create input[name=personName] {
    display: inline-block;
    width: auto;
}

.history-create .date {
    width: 213px;
    float: left;
    margin-right: 10px;
}

.history-item {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0;
}

.history-item:nth-child(even) {
    background-color: rgb(246, 251, 255);
}

.history-item .glyphicon {
    margin-right: 5px;
    color: rgb(255, 0, 102);
}

.history-item .person {
    font-weight: bold;
}

.history-item .date {
    float: right;
    color: gray;
}

.history-item .delete-history {
    opacity: 0;
    transition: 0.2s all ease-out;
}

.history-item:hover .delete-history {
    opacity: 1;
}

.history-item .delete-history {
    font-size: 13px;
    background-color: rgb(211, 176, 176);
    color: white;
    padding: 1px;
    cursor: pointer;
    vertical-align: 1px;
    border-radius: 2px;
    margin-left: 10px;
}

.history-item .notes {
    margin-left: 24px;
    display: inline-block;
}



