<template name="openingItem">
    <div class="opening {{openingType}}">
        <div class="opening-info">
            <h1><a href="{{url}}">{{companyName}}</a></h1>
            <h3>{{location}}</h3>
            <div class="opening-options">
                <span class="glyphicon glyphicon-folder-close archive-opening" data-toggle="tooltip" data-placement="bottom" title="Archive"></span>
                <span class="glyphicon glyphicon-trash delete-opening" data-toggle="tooltip" data-placement="bottom" title="Delete"></span>
            </div>
            <h2>{{jobTitle}}</h2>
            <div class="persons">
                <span class="glyphicon glyphicon-user"></span>
                {{#if anyPersons}}
                    <div class="list">
                        {{#each persons}}
                            <span class="person">
                                <span class="person-name">
                                    {{name}}
                                </span>
                                <span class="glyphicon glyphicon-remove delete-person"></span>
                                {{> editContact}}
                            </span>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="no-persons">No relation for this opening.</div>
                {{/if}}
                <a class="add-person-link" href="">Add one?</a>
                <div class="add-person-form">
                    <form>
                        <input type="text" class="form-control input" name="personName" placeholder="Who do you know?" />
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                </div>
            </div>
            <p class="notes">
                <textarea name="notes" class="autosize">{{notes}}</textarea>
            </p>
        </div>
        <div class="opening-history">
            {{> historiesList}}
        </div>
    </div>
</template>