<template name="openingsList">
    <div id="openings">
        {{#each openings}}
            {{> openingItem}}
        {{/each}}

        {{#unless anyOpenings}}
            <p>No openings yet</p>
        {{/unless}}

        <div class="add-opening">
            <span class="open">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="close">
                <span class="glyphicon glyphicon-th-list"></span>
            </span>
        </div>
    </div>

    {{> openingCreate}}
</template>